/*
KISSY CSS Reset
理念：清除和重置是紧密不可分的
特色：1.适应中文 2.基于最新主流浏览器
维护：levo(rainlevo0819@gmail.com)
/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
/*html { overflow-y: scroll; }*/
*/
body{
    font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
    font-weight: 100;
    color:#333;
    font-size: 12px;
    width: 100%;
    height: 100%;
}
ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd {
    margin:0;
    padding:0;
    border:none;
    list-style:none;
}
*{
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  box-sizing:border-box;
}
a{text-decoration:none;color:#333;}
a:hover,a:focus{text-decoration: none;}

img{vertical-align:middle;}
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
    border: none;
    outline: none;
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
